<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="common/head::static"></head>
<body>
<div th:replace="common/nav::portal(${user}, ${isAdmin}, 'appmarket')"></div>

<div class="container mt-4">
    <div id="app-detail"><p class="text-muted">加载中…</p></div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var APP_ID = /*[[${appId}]]*/ 0;
    /*]]>*/
</script>
<script th:src="@{/js/portal.js}"></script>
<script th:src="@{/js/appmarket.js}"></script>
</body>
</html>
