<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="common/head::static"></head>
<body>
<div th:replace="common/nav::portal(${user}, ${isAdmin}, 'appmarket')"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <h4 class="mb-0">应用列表</h4>
        <div class="d-flex align-items-center mt-2 mt-sm-0">
            <div class="input-group input-group-sm" style="width: 300px;">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="search" id="app-search" class="form-control" placeholder="搜索名称 / 包名 / 开发者…" aria-label="搜索应用">
            </div>
            <span class="text-muted small ml-2 d-none d-md-inline">数据来源：公开渠道收集，仅提供外链</span>
        </div>
    </div>
    <div id="app-list" class="row"></div>
</div>

<script th:src="@{/js/portal.js}"></script>
<script th:src="@{/js/appmarket.js}"></script>
</body>
</html>
