<!-- <script type="text/javascript">
	function login() {
		$('#loginDialog').dialog('open');
	};
	function regist() {
		$('#registDialog').dialog('open');
	};
	function rePwd() {
		$('#rePwdDialog').dialog('open');
	};
	function exit() {
		$.messager.confirm('温馨提示', '您确定要退出系统吗？', function (r) {
			if (r) {
				//location.href = "user_exit.action";
				$.ajax({
					url: 'user_exit.action',
					success: function () {
						location.href = "#";
					}
				});
			}
		});
	};
</script> -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">欢迎使用</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarCollapse"
                aria-controls="myNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">管理
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search(tags='aaa')}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0);" onclick="regist()" tabindex="-1"
                       aria-disabled="true">注册
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">修改密码</a>
                        <a class="dropdown-item" href="#">安全退出</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>