<script type="text/javascript">
	function login() {
		$('#loginDialog').dialog('open');
	};
	function regist() {
		$('#registDialog').dialog('open');
	};
	function rePwd(){
		$('#rePwdDialog').dialog('open');
	};
	function exit() {
		$.messager.confirm('温馨提示', '您确定要退出系统吗？', function(r) {
			if (r) {
				//location.href = "user_exit.action";
				$.ajax({
					url : 'user_exit.action',
					success : function(){
						location.href = "#";
					}
				});
			}
		});
	};
</script>
<div style="float: left;font-size: 20px;">欢迎使用网络收藏夹</div>

<div style="margin-right: 10px;float: right;">
	<div id="loginMsg" style="float: left">
		<a href="javascript:void(0);" onclick="login()">登录</a> 
		<a href="javascript:void(0);" onclick="regist()">注册</a>
	</div>
	<div id="exitDiv" style="float: right">
		<a href="javascript:void(0);" onclick="exit()">&nbsp;安全退出</a>
	</div>
	<div id="rePwdDiv" style="display: none; float: right;">
		<a href="javascript:void(0);" onclick="rePwd()">&nbsp;修改密码</a>
	</div>
</div>
