* {
	font-size: 12px;
	font-family: Tahoma, Verdana, 微软雅黑, 新宋体
}
body {
	background: #D2E0F2;
}

.carousel {
	height: 500px;
	background-color: black;
	margin-bottom: 60px;
}

.carousel .item {
	height: 500px;
}

.carousel img {
	width: 100%;
}

.carousel-caption p {
	font-size: 20px;
	line-height: 1.8em;
	margin-bottom: 20px;
}

.img-circle {
	width: 140px;
	height: 140px;
}

hr.divider {
	margin: 40px 0;
}

/*------*/
.feature {
	padding: 30px 0;
}

.feature-heading {
	font-size: 50px;
	color: #2aabd2;
	margin-top: 120px;
}

.feature-heading .text-muted {
	font-size: 28px;
	color: #999999;
}