.fDiv{
	
}
.fName{
	color: #25B8E7;
	font-size: 17px;
	text-decoration: none;
	font-family: 微软雅黑;
}
.fDiv:hover{
	background: #E0ECFF;
}
.fDiv.selected {
	border: 1px solid #99BBE8;
	background: #E0ECFF;
	cursor: default;
}
.fDiv a {
	color: #95B8E7;
	font-size: 17px;
	text-decoration: none;
	font-family: 微软雅黑;
}

.fDiv a:hover {
	color: orange;
	text-decoration: underline;
}

.delDiv {
	border: 1px solid black;
	width: auto;
	padding: 2px;
	float: right;
	margin: 2px;
}
.delDiv a {
	font-size: 15px;
	text-decoration: none;
	font-family: 幼圆;
}

.delDiv:hover{
	background: #E0ECFF;
}