/* .hot1 a {
	color: Black;
	font-size: 17px;
	font-family : 微软雅黑;
	text-decoration: none;
}

.hot1 a:hover {
	color: orange;
	text-decoration: underline;
}

.hotFont {
	color: gray;
} */