<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title},~{::link})">
	<title>AAAAA</title>
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/nav.css">
	<!-- <link href="css/network.css" rel="stylesheet" type="text/css">
	</link>
	<link rel="stylesheet" href="css/friend.css" type="text/css">
	</link> -->
</head>

<body>
	<div th:replace="layout/nav"></div>

	<!-- <div data-options="region:'center'" style="border: #da3434 2px solid;">
		<div id="tabs" class="easyui-tabs" data-options="fit:'true',border:'false'">
			<div id="home" title="欢迎使用" style="padding:40px;">
				<div style="width:380px;float:left; margin-right: 40px;">
					<div th:insert="model/hotPages"></div>
				</div>
				<div style="width:380px;float:left;">
					<div th:insert="model/newPages"></div>
				</div>
			</div>
		</div>
		<div th:insert="model/reviewDialog"></div>
	</div>
	<div id="westDiv" data-options="region:'west'" style="border: #222222 2px solid; width: 200px;overflow: hidden;">
		<div th:insert="layout/west"></div>
	</div>
	<div data-options="region:'south',border: 'false'" style="border: #222222 2px solid;height: 20px;overflow: hidden;">
		<div th:insert="layout/south"></div>
	</div> -->

	<!-- 右键菜单 -->
	<!-- <div id="mm" class="easyui-menu" style="width:150px;">
		<div id="mm-tabclose">关闭</div>
		<div id="mm-tabcloseall">全部关闭</div>
		<div id="mm-tabcloseother">除此之外全部关闭</div>
		<div class="menu-sep"></div>
		<div id="mm-tabcloseright">当前页右侧全部关闭</div>
		<div id="mm-tabcloseleft">当前页左侧全部关闭</div>
		<div class="menu-sep"></div>
		<div id="mm-exit">退出</div>
	</div>
	<div th:insert="model/login" style="border: #222222 2px solid"></div>
	<div th:insert="model/regist" style="border: #ce6969 2px solid"></div>
	<div th:insert="model/rePassword" style="border: #2d8b51 2px solid"></div> -->
	<script type="text/javascript" src="js/nav.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>

	<script type="text/javascript">
		var _menus = {
			"menus": [{
				"menuid": "1",
				"icon": "icon-sys",
				"menuname": "收藏首页",
				"menus": [{
					"menuid": "11",
					"menuname": "我的收藏",
					"icon": "icon-add",
					"url": "./model/myPages.html"
				}, {
					"menuid": "12",
					"menuname": "标签管理",
					"icon": "icon-nav",
					"url": "./model/myTags.html"
				}]
			}, {
				"menuid": "2",
				"icon": "icon-sys",
				"menuname": "我的好友",
				"menus": [{
					"menuid": "21",
					"menuname": "好友列表",
					"icon": "icon-nav",
					"url": "./model/myFriends.html"
				}, {
					"menuid": "22",
					"menuname": "好友添加",
					"icon": "icon-nav",
					"url": "./model/addFriends.html"
				}]
			}, {
				"menuid": "3",
				"icon": "icon-sys",
				"menuname": "我的设置",
				"menus": [{
					"menuid": "31",
					"menuname": "个人信息",
					"icon": "icon-nav",
					"url": "./model/myMsg.html"
				}, {
					"menuid": "32",
					"menuname": "个人资料修改",
					"icon": "icon-nav",
					"url": "./model/user_reMsg.html"
				}]
			}, {
				"menuid": "4",
				"icon": "icon-sys",
				"menuname": "我的网评",
				"menus": [{
					"menuid": "41",
					"menuname": "我发表的评论",
					"icon": "icon-nav",
					"url": "./model/myDiscuss.html"
				}, {
					"menuid": "42",
					"menuname": "对我的评论",
					"icon": "icon-nav",
					"url": "./model/otherDiscuss.html"
				}]
			}]
		};
		// $(function () {
		// 	$.ajax({
		// 		url: 'user_getMyInfo.action',
		// 		success: function (data) {
		// 			var d = $.parseJSON(data);
		// 			if (d != null) {
		// 				$('#loginMsg').empty();
		// 				var userMsg = "";
		// 				userMsg += '<div>欢迎 ' + d.username + ' </div>';
		// 				$('#loginMsg').append(userMsg);
		// 				$('#rePwdDiv').show();
		// 				//显示导航功能 绑定双击 及右键 。
		// 				InitLeftMenu();
		// 				$.parser.parse($('#acc'));
		// 				tabClose();
		// 				tabCloseEven();
		// 			}
		// 		}
		// 	});
		// }); 
	</script>
</body>

</html>