<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme() + "://"
			+ request.getServerName() + ":" + request.getServerPort()
			+ path + "/";
%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<base href="<%=basePath%>">

<title>My JSP 'addFriends.html' starting page</title>

<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="This is my page">
<jsp:include page="../../inc.html"></jsp:include>
<script type="text/javascript">
	$(function() {

	});

	function addFriend() {
		$.messager.show({
			title : '消息',
			msg : '查找成功',
			timeout : 5000,
			showType : 'slide'
		});

	}
	function searchFriend() {
		var name = $('#searchNameInput').attr('value');
	/*
		$.ajax({
			url : 'user_searchFriend.action',
			success : function(data) {
				var d = $.parseJSON(data);
				console.info(d);
			}
		});*/
		console.info(name);
	}
</script>
</head>

<body class="easyui-layout">
	<div data-options="region:'north',border: false" style="height:50px">
		<div id="searchMine">
			<table>
				<tr>
					<td><input id="searchNameInput" type="text" name="username" /></td>
					<td><a href="javascript:void(0);" class="easyui-linkbutton"
						plain="true" onclick="searchFriend();"><b>搜索好友</b>
					</a></td>
				</tr>
			</table>
		</div>
		<hr style="border:1px dotted  #95B8E7" />
	</div>
	<div data-options="region:'west',split:true" style="width:250px;">
		<div id="friendList" title="查找结果" class="easyui-panel"
			data-options="fit:true, border: false" style="padding:5px;"></div>
	</div>
	<div data-options="region:'center'">
		<div class="easyui-panel" title="好友信息"
			data-options="fit:true, border: false" style="padding:5px;">
			<div id="fMsg"></div>
		</div>
	</div>
</body>
</html>
